/* You can add global styles to this file, and also import other style files */
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

html {
  font-size: 0.6rem;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  html {
    font-size: 0.7rem;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  html {
    font-size: 0.8rem;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  html {
    font-size: 1.0rem;
  }
}
