/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'NowMedium';
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 0.4rem;
}
html body .col-4 {
  padding: 0 1.2rem;
}
html body .col-8 {
  padding: 0 1.2rem;
}
html body a {
  color: #7200ca;
}
html body a:hover {
  color: #7200ca;
}
html body code {
  color: #ff66c4;
}
@media (min-width: 576px) {
  html {
    font-size: 0.6rem;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 0.8rem;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 1rem;
  }
}