<div *ngIf="selectedFile" class="file-detalis">
  <div *ngIf="!selectedFile.extension; else hasExtension">
    <p>
      Directory
    </p>
  </div>

  <ng-template #hasExtension>
    <p>
      File: {{selectedFile.extension}}
    </p>
    <p>
      Size: {{selectedFile.size.toFixed(2)}} kB
    </p>
  </ng-template>

  <p>
    Creation date: {{selectedFile.dateCreation | date}}
  </p>
  <hr />
  <div class="file-detalis--center">
    <form [formGroup]="fileForm">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" formControlName="name" value="{{selectedFile.name}}" class="form-control" />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="comment">Comment:</label>
        <input type="text" formControlName="comment" value="{{selectedFile.comment}}" class="form-control" />
      </div>
    </form>
    <div *ngIf="selectedFile.extension; else directoryOptions">    
      <div>
        <button [disabled]="buttonClicked" class="btn button" (click)="onChange()">Apply changes to file</button>
      </div>
      <div>
        <button [disabled]="buttonClicked" class="btn button" (click)="onShare()">Share file</button>
      </div>
      <div>
        <button [disabled]="buttonClicked" class="btn button" (click)="onDownload()">Download file</button>
      </div>
      <hr />
      <div>
        <button [disabled]="buttonClicked" class="btn button" (dblclick)="onDelete()">Delete file</button>
      </div>
    </div>

    <ng-template #directoryOptions>   
        <div>
          <button [disabled]="buttonClicked" class="btn button" (click)="onChange()">Apply changes to directory</button>
        </div>
        <hr />
        <div>
          <button [disabled]="buttonClicked" class="btn button" (dblclick)="onDelete()">Delete directory</button>
        </div>
    </ng-template>
  </div>
</div>

