.body-content {
  padding: 0em 15px;
}
.first {
  padding: 2rem;
}
.second {
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0 2rem 3.5rem 2rem;
  margin-bottom: 2rem;
}
.body__background--color {
  background-color: #ce93d8;
  height: 6rem;
}
.body__background--color .img--size {
  display: block;
  height: 400px;
  margin-bottom: 20px;
}
.body__background--color .img--background {
  background-image: url(https://media-public.canva.com/MAB5cOxZt-I/2/screen.png);
  background-size: 30rem;
  background-position: center;
  background-repeat: repeat;
  position: relative;
}