.upload-label {
  color: rgba(255, 255, 255, 0.7);
  font-size: 2.5rem;
  padding: 1rem 1rem 0rem 1rem;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  -webkit-transform: perspective(1px) translateZ(0);
  -moz-transform: perspective(1px) translateZ(0);
  -ms-transform: perspective(1px) translateZ(0);
  -o-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.upload-label:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #ffffff;
  height: 0.3rem;
  -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-property: left, right;
}
.upload-label:focus,
.upload-label:hover,
.upload-label:active {
  cursor: pointer;
  color: #ffffff;
}
.upload-label:focus:before,
.upload-label:hover:before,
.upload-label:active:before {
  left: 0;
  right: 0;
}
.upload__background--color .img--size {
  display: block;
  height: 100%;
  padding: 3rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
}
.upload__background--color .img--background {
  background: url(https://media-public.canva.com/MAB5cKXAlps/2/screen.png) repeat-y;
  background-size: 30rem;
  background-repeat: repeat;
  background-color: #ce93d8;
  -webkit-animation: right 80s linear infinite;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  position: relative;
  text-align: end;
}
.upload__background--color span {
  font-weight: bold;
  color: white;
  position: absolute;
  left: 3rem;
  bottom: 1rem;
}
.upload__background--color .progress {
  position: relative;
  border-radius: 0;
  background-color: transparent;
  overflow: visible;
}
.upload__background--color .progress .progress--background {
  display: flex;
  height: 1rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0.6rem;
  left: -1rem;
}
.upload__background--color .progress .progress-bar {
  background-color: #ffffff;
  z-index: 10;
}
.card__header {
  table-layout: fixed;
  width: 6rem;
  margin: 1rem;
  margin-bottom: 0;
}
.card__header p {
  font-size: 0.75rem;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card--box {
  width: 7rem;
  height: 7rem;
  margin: 0.5rem;
  margin-top: 0;
  border-color: rgba(0, 0, 0, 0.7);
  border-width: 0.4rem;
  padding: 0;
  position: relative;
  -webkit-transform: perspective(1px) translateZ(0);
  -moz-transform: perspective(1px) translateZ(0);
  -ms-transform: perspective(1px) translateZ(0);
  -o-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
}
.card--box .card__inside-box {
  width: 5.3rem;
  height: 5.3rem;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #484848;
  text-align: center;
}
.card--box .card__inside-box p {
  width: 100%;
  position: absolute;
  text-align: center;
  padding-top: 100%;
  font-size: 1.3rem;
  color: #ffffff;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.card--box .card__inside-box .fa-3x {
  color: #ffffff;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-top: 100%;
}
.card--box:before {
  content: "";
  position: absolute;
  left: 51%;
  right: 51%;
  bottom: -0.4rem;
  background-color: #ce93d8;
  height: 0.4rem;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  transition-property: left, right;
}
.card--box:focus,
.card--box:hover,
.card--box:active {
  cursor: pointer;
}
.card--box:focus:before,
.card--box:hover:before,
.card--box:active:before {
  left: 0;
  right: 0;
}
@-webkit-keyframes right {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}