<h1>File Upload Using Angular 5 and ASP.NET Core 2.1</h1>
<button class="btn btn-danger" #file type="file" multiple (change)="upload(file.files)">ass</button>
<input #file type="file" multiple (change)="upload(file.files)" />
<br />

<div class="progress" style="margin: 10px">
  <div id="prog-bar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
    <span class="sr-only">{{progress}}%</span>
  </div>
</div>

<span style="font-weight:bold;color:green;" *ngIf="message">
  {{message}}
</span>

<div class="container">
  <div class="row justify-content-center no-gutters">
    <div class="col flex-grow-0" *ngFor="let file of files">
      <div class="card__header"><p>{{file.name}}</p></div>
      <div id="{{file.name}}" class="card card--box rounded-0">
        <div class="card-body">
          <div class="card__inside-box">
            <p>{{file.extension}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div id="{{file}}" class="card-footer">
  <button class="btn btn-danger" (click)="delete(file)">
    DELETE
  </button>
</div> -->
