.main-nav {
  position: relative;
  left: 0;
  right: 0;
  z-index: 1;
}
.main-nav li a {
  cursor: pointer;
  padding: 10px 16px;
  border-radius: 4px;
}
.main-nav li .fa {
  margin-right: 10px;
}
.main-nav li.link-active a,
.main-nav li.link-active a:hover,
.main-nav li.link-active a:focus {
  background-color: #4189C7;
  color: white;
}