<div class='main-nav'>
  <hr style="width: 47.7%;
    margin-left: 0;">
  <div class="row">
    <div class="col-4">
      <div class="navbar navbar-page">
        <a [routerLink]='["/"]' class="nav-link">
          <div class="line2"></div>
          <p>
            <span>F</span>ILE<br />
            <span>S</span>ERVER
          </p>
        </a>
      </div>
    </div>
    <div class="col-8">
      <nav class='navbar navbar--space navbar-expand'>
        <div class='navbar'>
          <ul class='nav align-bottom'>
            <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
              <a [routerLink]='["/"]' class="nav-link a__first">
                FILES
              </a>
            </li>
          </ul>
        </div>
        <div class='navbar'>
          <div *ngIf="currentUser" class="card__file" [@enterAnimation]>
            <ul class='nav align-bottom'>
              <li class="nav-item" [routerLinkActive]='["link-active"]'>
                <a [routerLink]='["/account"]' class="nav-link nav-link--animate-with-line">
                  ACCOUNT
                </a>
              </li>
              <li class="nav-item" [routerLinkActive]='["link-active"]'>
                <a (click)="logout()" class="nav-link nav-link--animate-with-line">
                  LOG OUT
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <hr style=" margin-left: 20.5%;">
</div>
