<div class='main-nav'>
  <div class="row">
    <div class="col-4">
      <div class="navbar navbar-page">
        <a [routerLink]='["/"]' class="nav-link">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
          <span>F</span>ILE<br />
          <span>S</span>ERVER
        </a>
      </div>
    </div>
    <div class="col-8">
      <nav class='navbar navbar--space navbar-expand'>
        <div class='navbar'>
          <ul class='nav align-bottom'>
            <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
              <a [routerLink]='["/"]' class="nav-link a__first">
                FILES
              </a>
            </li>
          </ul>
        </div>
        <div class='navbar'>
          <ul class='nav align-bottom'>
            <li class="nav-item" [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/news"]' class="nav-link">
                NEWS
              </a>
            </li>
            <li class="nav-item" [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/counter"]' class="nav-link">
                ACCOUNT
              </a>
            </li>
            <li class="nav-item" [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/fetch-data"]' class="nav-link">
                LOG IN
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
